@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("/fonts/gilroyextrabold.woff") format("woff"),
  url("/fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("/fonts/gilroylight.woff") format("woff"),
  url("/fonts/gilroylight.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.15 px;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  background-color: #f0c52e;
  border: none;
}

.button:hover,
.button:focus {
  /* background-color: #663d15; */
}

.button:active  {
  /* opacity: 0.3; */
}

.main-header {
  color: #464646;

  background-color: #f7e296;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}
.main-header-logo:active {
  opacity: 0.3;
}

.main-nav-search input {
  font: inherit;
  color: #000000;
  opacity: 0.3;

  background-color: #f7e296;
  border: none;
}

.main-nav-search input:hover {
  opacity: 0.6;

  outline: none;
  border: none;
}

.main-nav-search input:focus,
.main-nav-search input:active {
  opacity: 1;

  outline: none;
  border-bottom: 2px solid #000000;
}

.user-navigation,
.shopping-navigation {
  list-style: none;
}

.user-navigation a,
.shopping-navigation a {
  color: #000000;
  text-decoration: none;
}

.user-navigation a:hover,
.user-navigation a:focus,
.shopping-navigation a:hover,
.shopping-navigation a:focus {
  opacity: 0.6;
}

.user-navigation a:active,
.shopping-navigation a:active {
  opacity: 0.3;
}

.catalog-nav-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.catalog-nav-button:hover,
.catalog-nav-button:focus {
  opacity: 0.6;
}

.catalog-nav-button:active {
  opacity: 0.3;
}

.catalog-navigation {
  list-style: none;
}

.catalog-navigation a {
  color: #000000;
  text-decoration: none;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  opacity: 0.6;
}

.catalog-navigation a:active {
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  opacity: 0.6;
}

.site-navigation a:active {
  opacity: 0.3;
}

.hot-item-all {
  list-style: none;
}

.hot-item-all b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.47px;
}

.hot-item-specifications td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.36px;
}

.hot-item-specifications th {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.category-list {
  list-style: none;
}

.category-item-image {
  color: #464646;

  background-color: #f7e296;
}

.category-item-link:hover .category-item-image,
.category-item-link:focus .category-item-image {
  background-color: #f0c52e;
}

.category-item-link:active img {
  opacity: 0.3;

  background-color: #f0c52e;
}

.category-list h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.18px;
}

.category-item-link:active h3 {
  opacity: 0.3;
}

.additional-services {
  color: #464646;

  background-color: #e5e5e5;
}

.additional-services h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.47px;
}

.current-button-services {
  color: #f7e184;

  background-color: #000000;
}

.logotypes-brands img {
  opacity: 0.2;
}

.logotypes-brands img:hover,
.logotypes-brands img:focus {
  opacity: 1;
}

.info h2,
.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.47px;
}

.info p {
  letter-spacing: 0;
}

.info-list {
  list-style: none;
}

.info-list li {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.contacts p {
  letter-spacing: 0;
}

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.47px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: #000000;
}

.breadcrumbs a {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs-current {
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.filters h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  background-color: #dcdcdc;
}

.filter {
  color: #000000;

  background-color: #eeeeee;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.18px;
}

.filter ul {
  list-style: none;

  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.filter-input:hover,
.filter-input:focus {
  opacity: 0.6;
}

.filter-input:active{
  opacity: 1;
}

.filter-input:disabled {
  opacity: 0.25;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.sort {
  color: #000000;

  background-color: #eeeeee;
}

.sort h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.sort ul {
  list-style: none;
}

.sort-option a {
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}

.sort-up-down a {
  font-weight: 400;
  color: #000000;
  opacity: 0.2;
}

.sort-option a:hover,
.sort-option a:focus {
  opacity: 0.6;
}

.sort-up-down a:hover,
.sort-up-down a:focus {
  opacity: 0.4;
}

.sort a:active {
  opacity: 1;
}

a.sort-option-current,
a.sort-up-down-current {
  opacity: 1;
}

.catalog ul {
  list-style: none;
}

.catalog-item img:hover,
.catalog-item img:focus {
  opacity: 0.4;
}

.catalog-item-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.18px;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.16px;
}

.catalog-button-compare {
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.13px;
  opacity: 0.5;
}

.catalog-button-compare:hover,
.catalog-button-compare:focus {
  opacity: 1;
}

.catalog-button-compare:active {
  opacity: 0.2;
}

.pagination-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  background-color: #ebebeb;
}
.pagination-item a {
  opacity: 0.3;
  color: #000000;
}

.pagination-item-back a,
.pagination-item-current a,
.pagination-item-forward a {
  opacity: 1;
}

.main-footer {
  color: #ffffff;

  background-color: #464646;
}

.main-footer ul {
  list-style: none;
}

.footer-nav-user a,
.footer-nav-shoping a {
  color: #ffffff;
}

.footer-nav-exit-link {
  opacity: 0.3;
}

.footer-nav-site a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.main-footer p {
  letter-spacing: 0;
}

.footer-social a {
  color: #ffffff;
}

.footer-copyright a {
  color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #ffffff;
}

.write-us-form label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.write-us-form input,
.write-us-form textarea {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #464646;

  background-color: #f2f2f2;
  border: none;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: #eaeaea;
}

.write-us-form input:focus,
.write-us-form input:active,
.write-us-form textarea:focus,
.write-us-form textarea:active {
  color: #000000;

  outline: none;
  border: 2px solid #f7e296;
  background-color: #ffffff;
}

.write-us-form input:invalid,
.write-us-form textarea:invalid {
  background-color: #f6dada;
}
