.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: local ("Gilroy Light"), url("/fonts/gilroyextrabold.woff") format("woff"),
  url("/fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: local ("Gilroy ExtraBold"), url("/fonts/gilroylight.woff") format("woff"),
  url("/fonts/gilroylight.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.15px;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  background-color: #f0c52e;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active  {
  color: rgba(0, 0, 0, 0.3);
}

.container-header {
  width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  margin-top: 40px;
  padding: 0 60px;

  color: #464646;

  background-color: #f7e296;
}

/*Хедэр - Логотип*/

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}
.main-header-logo:active {
  opacity: 0.3;
}

/*Хэдер - Навигация пользователя, вверхняя строка*/

.user-main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/*Навигация пользователя - Форма (Поиск по сайту)*/

.main-nav-search {
  width: 440px;
  margin: 0;
  padding: 0;
  margin-right: 100px;
}

/*Поиск по сайту - Поле ввода запроса*/

.main-nav-search input {
  font: inherit;
  color: #000000;
  opacity: 0.3;

  background-color: #f7e296;
  border: none;
}

.main-nav-search input:hover {
  opacity: 0.6;

  outline: none;
  border: none;
}

.main-nav-search input:focus,
.main-nav-search input:active {
  opacity: 1;

  outline: none;
  border-bottom: 2px solid #000000;
}

/*Поиск по сайту - Кнопка "Найти"*/

/*Навигация пользователя - Пользовательское меню*/

.user-navigation {
  width: 200px;
  margin: 0;
  padding: 0;
  margin-right: 80px;

  list-style: none;
}

.shopping-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 220px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation a,
.shopping-navigation a {
  color: #000000;
  text-decoration: none;
}

.user-navigation a:hover,
.user-navigation a:focus,
.shopping-navigation a:hover,
.shopping-navigation a:focus {
  opacity: 0.6;
}

.user-navigation a:active,
.shopping-navigation a:active {
  opacity: 0.3;
}

/*Хэдер - Навигация по сайту*/

.main-navigation {
    display: flex;
    padding-right: 60px;
    padding-bottom: 50px;
    padding-left: 60px;
}

/*Хэдер - Каталог товаров навигация по сайту*/

.catalog-navigation-menu {
  width: 340px;
  margin-right: 200px;
  display: flex;
  flex-direction: column;
}

.catalog-nav-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-nav-button:hover,
.catalog-nav-button:focus {
  opacity: 0.6;
}

.catalog-nav-button:active {
  opacity: 0.3;
}

.catalog-navigation {
  list-style: none;
}

.catalog-navigation a {
  color: #000000;
  text-decoration: none;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  opacity: 0.6;
}

.catalog-navigation a:active {
  opacity: 0.3;
}


/*Хэдер - Кнопкт навигации по сайту правый блок*/

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  opacity: 0.6;
}

.site-navigation a:active {
  opacity: 0.3;
}

/*Слайдер с горячими товарами*/

.hot-item-all {
  list-style: none;
}

.hot-item-all li {
  display: flex;
}

.hot-item-all b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.47px;
}

.hot-item-specifications td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.36px;
}

.hot-item-specifications th {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

/*Блок Категории товаров*/

.category {
  margin-bottom: 80px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.category-item {
  width: 160px;
  min-height: 240px;
  margin-top: 20px;
  margin-right: 40px;
}

.category-list li:nth-child(6n) {
  margin-right: 0;
}

.category-item-image {
  width: 160px;
  height: 160px;

  color: #464646;
  text-align: center;

  background-color: #f7e296;
}

/*Пример смещения картинки*/

.image-monopod {
  position: relative;
  top: 25px;
}

.category-item-link:hover .category-item-image,
.category-item-link:focus .category-item-image {
  background-color: #f0c52e;
}

.category-item-link:active img {
  opacity: 0.3;

  background-color: #f0c52e;
}

.category-list h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.18px;
}

.category-item-link:active h3 {
  opacity: 0.3;
}

/*Блок дополнительных сервисов*/

.additional-services {
  color: #464646;

  background-color: #e5e5e5;
}

.additional-services-columns {
  display: flex;
}

.button-additional-services {
  width: 280px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-column {
  width: 760px;
  margin: 0;
  padding: 0;
  margin-left: 120px;
}

.service-item {
  list-style: none;
}

.additional-services h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.47px;
}

.current-button-services {
  color: #f7e184;

  background-color: #000000;
}

/*Блок логотипов брендов*/

.logotypes-brands-items {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.logotypes-brands-items li {
  margin-right: 40px;
  margin-bottom: 20px;
}

.logotypes-brands-items li:nth-child(4n) {
  margin-right: 0;
}

.logotypes-brands img {
  opacity: 0.2;
  filter: grayscale(100%);
}

.logotypes-brands img:hover,
.logotypes-brands img:focus {
  opacity: 1;
  filter: grayscale(0%);
}

/*Блоки о компании*/

.info-columns {
  display: flex;
}

/*Блоки о нас*/

.info {
  width: 500px;
  margin: 0;
  padding: 0;
}

.contacts {
  width: 560px;
  margin: 0;
  padding: 0;
  margin-left: 100px;
}

.info h2,
.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.47px;
}

.info p {
  letter-spacing: 0;
}

.info-list {
  list-style: none;
}

.info-list li {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.contacts p {
  letter-spacing: 0;
}

/*Страница каталога товаров*/

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.47px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: #000000;
}

.breadcrumbs a {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs-current {
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.filters h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  background-color: #dcdcdc;
}

.filter {
  color: #000000;

  background-color: #eeeeee;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.18px;
}

.filter ul {
  list-style: none;

  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.filter-input:hover,
.filter-input:focus {
  opacity: 0.6;
}

.filter-input:active{
  opacity: 1;
}

.filter-input:disabled {
  opacity: 0.25;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.sort {
  color: #000000;

  background-color: #eeeeee;
}

.sort h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.sort ul {
  list-style: none;
}

.sort-option a {
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}

.sort-up-down a {
  font-weight: 400;
  color: #000000;
  opacity: 0.2;
}

.sort-option a:hover,
.sort-option a:focus {
  opacity: 0.6;
}

.sort-up-down a:hover,
.sort-up-down a:focus {
  opacity: 0.4;
}

.sort a:active {
  opacity: 1;
}

a.sort-option-current,
a.sort-up-down-current {
  opacity: 1;
}

.catalog ul {
  list-style: none;
}

.catalog-item img:hover,
.catalog-item img:focus {
  opacity: 0.4;
}

.catalog-item-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.18px;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.16px;
}

.catalog-button-compare {
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.13px;
  opacity: 0.5;
}

.catalog-button-compare:hover,
.catalog-button-compare:focus {
  opacity: 1;
}

.catalog-button-compare:active {
  opacity: 0.2;
}

.pagination-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  background-color: #ebebeb;
}

.pagination-item-back a,
.pagination-item-forward a {
  color: #000000;
}

.pagination-item-back a:hover,
.pagination-item-back a:focus,
.pagination-item-forward a:hover,
.pagination-item-forward a:focus {
  background-color: #d9d9d9;
}

.pagination-item-back a:active,
.pagination-item-forward a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d9d9d9;
}

.pagination-item-number.pagination-item-current a{
  color: #000000;
}

.pagination-item-number a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-number a:hover,
.pagination-item-number a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item-number a:active {
  color: rgba(0, 0, 0, 1);
}

/*Футер*/


/* Контейнер футера */
.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  color: #ffffff;

  background-color: #464646;
}

.main-footer ul {
  list-style: none;
}

.main-footer p {
  letter-spacing: 0;
}

/* Верхний блок футера */

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 70px;
  margin-bottom: 45px;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-nav-user {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-nav-shoping {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-nav-user a,
.footer-nav-shoping a {
  color: #ffffff;

  opacity: 0.7;
}

.footer-nav-user a:hover,
.footer-nav-user a:focus,
.footer-nav-shoping a:hover,
.footer-nav-shoping a:focus,
.footer-nav-exit-link a:hover,
.footer-nav-exit-link a:focus {
  opacity: 1;
}

.footer-nav-user a:active,
.footer-nav-shoping a:active,
.footer-nav-exit-link a:active {
  opacity: 0.3;
}

.footer-nav-exit-link a {
  opacity: 0.3;
}

/* Средний блок футера */

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-nav-site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 425px;
  margin: 0;
  padding: 0;
}

.footer-nav-site a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

/*Нижний блок футера*/

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 65px;
}

.footer-social-btn {
  display: flex;
  justify-content: space-between;
}

.social-button {
  color: #ffffff;
}

.footer-copyright a {
  color: #ffffff;
}

/*Модальные окна*/

.modal {
  color: #000000;

  background-color: #ffffff;
}

.write-us-form label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.write-us-form input,
.write-us-form textarea {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #464646;

  background-color: #f2f2f2;
  border: none;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: #eaeaea;
}

.write-us-form input:focus,
.write-us-form input:active,
.write-us-form textarea:focus,
.write-us-form textarea:active {
  color: #000000;

  outline: none;
  border: 2px solid #f7e296;
  background-color: #ffffff;
}

.write-us-form input:invalid,
.write-us-form textarea:invalid {
  background-color: #f6dada;
}
